$font-rb: "Roboto", sans-serif;
$font-bt: "bahnschrift";
$font-sr: "Segoe UI Regular";
$color-purple: #67459b;
$color-black: #000000;
$color-light-black: #333333;
$color-light-black2: #555555;
$color-grey: #7f7f7f;
$color-grey-1: #f4f5f7;
$color-grey-2: #cccccc;
$color-grey-3: #eeeeee;
$color-grey-4: #cdced0;
$color-green: #61bc47;
$error-red: #f00;
$success-green: #087e23;
$color-white: #ffffff;
$color-light-grey: #f1f1f1;
$color-golden: #ddb149;
$transition: all 0.5s ease;
$box-shadow1: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
